*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #2478c2, #00f2fe);
}

.form-section{
    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #64bcd9, #71bddd);
  overflow: hidden;
}

header{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.input-field{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-top:5px;
}

.submit-btn{
    padding:10px;
    border:none;
    border-radius:6px;
    background:#4facfe;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.submit-btn:hover{
    transform:scale(1.05);
}

footer{
    text-align:center;
    margin-top:15px;
    font-size:12px;
}

.error-message{
    color:red;
    font-size:12px;
    margin-top:5px;
}




.form {
  width: 380px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  animation: floatIn 1.2s ease;
  position: relative;
}

.form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  letter-spacing: 1px;
}


.form input,
.form textarea {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 18px;
  border-radius: 12px;
  background: rgba(255,255,255,0.15);
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  transition: 0.4s;
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba(255,255,255,0.7);
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
  background: rgba(255,255,255,0.25);
  box-shadow: 0 0 0 2px rgba(102,126,234,0.8);
}


.form button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.4s;
}


.form button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 15px 30px rgba(102,126,234,0.5);
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(60px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.form::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 20px;
  background: linear-gradient(45deg, #667eea, #764ba2, #43cea2);
  opacity: 0.4;
  filter: blur(20px);
  z-index: -1;
}